<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LayoutNovo</title>
    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css" media="all" />
</head>
<body>
    @if (IsSectionDefined("menu"))
    {
        <div class="col-md-4">
            <h3>Menu</h3>
            @RenderSection("menu", false)
        </div>
    }
    
    <div class="container well col-md-8">
        @RenderBody()
    </div>

    @RenderSection("Scripts", false)
</body>
</html>
